.modal-dialog {
    max-width: 70% !important;
}

.modal-body,
.modal-title {
    background-color: #33302e !important;
    color: white !important;
    padding-top: 0 !important;
}

.modal-title {
    padding-left: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 0 !important;
}

@media only screen and (max-width:992px) {
    .modal-dialog {
        max-width: 70% !important;
    }
}